html{
	min-height: 100%;
	position: relative;
}

body{
	/*Placeholder image*/
	background-image: url("gates.jpg"); 
	background-size: cover;
	background-repeat: no-repeat;

	background-color: #66A3C2;
	font-family: "helvetica";
}

.welcome{
	font-size: 108px;
	color: white;

	position: absolute;;
	top: 50%;
	left: 50%;
}

.title{
	font-size: 42px;
	color: #333333;

	background-color: white;
	float: top;
	width: 860px;
	text-align: center;
	border-radius: 5px;
}

.aboutme{
	font-size: 24px;
	color: black;

	background-color: white;
	padding-left: 5px;
	border-radius: 5px;
}
